body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffe4c4;
    font-family: sans-serif,Tahoma,Verdana;
}

.container{
    background-color: #f7f7f7;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 50px;
    gap: 15px;
}

.submit{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #6a0dad;
    cursor: pointer;
    font-weight: bold;
}

.submit:hover{
    background-color: #4b0082;
    color: white;
    transition: 0.3s;
}

.username-lable,
.email-lable,
.password-lable{
    margin-bottom: 5px;
    font-weight: 500;
}
input{
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
